/*
    COMMON
*/
body {
    padding-top:193px;
    background: #000000 url('/images/bg_1.jpg') center top no-repeat;
	font-family: verdana;
	font-size: 12px;
	line-height: 15px;;
}

a:link, a:visited {
    color:#BF0000;
	font-weight: bold;
    text-decoration:none;
}

a:hover {
    color: #5A0808;
	font-weight: bold;
	text-decoration: none;
}

.menu a {
    color:#FF9C00;
}

h1 {
    font-size: 1.4em;
    padding:15px;
    padding-left:15px;
    margin-top:0px;
    margin-bottom:0px;
    background: #ccc;
    border: 1px solid black;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
    background: #777;
    margin-bottom: 10px;
}

h2 {
    font-size:1.1em;
    padding:10px;
    padding-left:15px;
    margin-top:0px;
    margin-bottom:0px;
    background: #ccc;
    border: 1px solid black;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
    background: #777;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0px;
    text-align: left;
    padding:5px;
    border: 1px solid black;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
    background: #777;
    margin-bottom: 10px;
    font-size: 1.1em;
}

h3 img {
    float:left;
    padding-left: 2px;
    padding-right: 5px;
}

h1#replay_details_title {
    background:#777 url(/images/titlebg_2.jpg) top right no-repeat;
}
h1#replay_upload_title {
    background:#777 url(/images/titlebg_3.jpg) top right no-repeat;
}
h1#replay_index_title {
    background:#777 url(/images/titlebg_4.jpg) top right no-repeat;
}
h1#replay_browse_title {
    background:#777 url(/images/titlebg_1.jpg) top right no-repeat;
}
h1#signin_title {
    background:#777 url(/images/titlebg_1.jpg) top right no-repeat;
}
h1#contact_title {
    background:#777 url(/images/titlebg_4.jpg) top right no-repeat;
}
h1#rules_title {
    background:#777 url(/images/titlebg_2.jpg) top right no-repeat;
}

div#index_div {
	padding: 10px;
}
div.margined_div {
	margin-left: 5px;
	margin-right: 5px;
}
a.top_link {
	margin-left: 10px;
}

/*.wrapper h1:hover {
    background: #bbb;
}*/

/*
    LAYOUT
*/
div.wrapper {
/*  padding:5px;
    background:#eee;
    border: 10px solid #333;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;*/
    width:1000px;
    background: transparent;
    margin:0px auto;
    /*border:1px solid red;*/
}

div.footer {
    margin-top:10px;
    color:#ccc;
    font-size: 11px;
    text-align:center;
}

div.menu {
    margin-top:0px;
    height:34px;
    text-align: center;
    clear:both;
}

div.menu a:link, div.menu a:visited {
    background: #444;
    padding:10px;
    border: 2px solid black;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

div.menu a:hover {
    background: #333;
}

div.leftbar {
    width:150px;
    float:left;
}

div.rightbar {
    margin-left:3px;
    width:244px;
    float:left;
}

div.main_content {
    width:600px;
    float:left;
    margin-left:3px;
    overflow: hidden;
}

div.content_wide {
    width:750px;
}

/*
    TOP MESSAGES
*/
div.top_err_message {
    width:100%;
    border:1px solid black;
    color:red;
    font-weight:bold;
    background:#aaa;
    padding:5px;
    margin-bottom:2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
div.top_suc_message {
    width:100%;
    border:1px solid black;
    color:green;
    font-weight:bold;
    background:#aaa;
    padding:5px;
    margin-bottom:2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

/*
    TABLES
*/
.centered {
    text-align:center;
}

td.bg_winner {
    background: green;
}

td.bg_loser {
    background: gray;
}

table.stdtable {
    border-collapse: collapse;
}

table.stdtable th {
    padding: 5px;
	width: 135px;
}
table.stdtable td {
	padding: 5px;
	max-width: 225px;
	word-wrap: break-word;
}

table.stdtable tr.odd {
    background: #ddd;
}

table.stdtable tr.even { 
	background: #D8D8D8;
}

table.stdtable tr:hover {
    background: #C2C2C2;
}

div.stdtable_border {
    border: 1px solid #555;
    padding: 2px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
}

/*
    BOXES
*/
h3.toggle_down {
    padding-left:16px;
    cursor: pointer;
}

div.greybox {
    margin-top:0px;
    margin-bottom: 4px;
    padding:5px;
    background: #ccc;
    border: 1px solid black;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
}

div.pColorBox {
    width:10px;
    height:10px;
    border:1px solid #333;
	margin-left: auto;
	margin-right: auto;
}

/*
  Latest comments box
*/
div.comment_list_box_header {
    font-weight:bold;
}


/*
  Replay box
*/
div.repListBox, div.comment_list_box {
    font-size: 0.9em;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

span.repListBoxTime {
    font-style: italic;
    float:right;
    font-size: 0.8em;
}

table.replay_info {
	width: 350px;
	text-align: left;	
	font-family: verdana;
	font-size: 1em;
}
div.hover_block {
	margin: 5px 10px 5px 10px; 
	text-align: center;
}
div.hover_block:hover {
	background-color: #bbb;
}
div.download_link {
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
	margin-top: 15px;
}
div.facebook_block {
	overflow: hidden;
	height: 25px;
}
div.shadow_box {
	background-color: #B5B5B5;
	border: 1px solid #9B9B9B;
	border-radius: 5px;
	margin: 7px 3px 7px 3px;
	padding: 1px;
}
div.team_box {
	padding: 2px;
}
table.team_table {
	width: 100%;
	margin: 0px;
	font-size: 1em;
}
table.team_table td.player_color {
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
table.team_table td.player_name {
	text-align: left;
	vertical-align: middle;
	padding-left: 3px;
}
table.team_table td.player_icon {
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
table.team_table td.player_apm {
	width: 35px;
	text-align: center;
	vertical-align: middle;
}
table.team_table img.player_icon {
	height: 20px;
	width: auto;
}

#winner_list {
    text-align:center;
    display:none;
	padding: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/*
	Messages box
*/
table.replay_messages tr:nth-child(odd) {
    background: #ddd;
}
table.replay_messages tr:nth-child(even) { 
    background: #CDCDCD;
}
table.replay_messages tr:hover {
	background: #C2C2C2;
}
table.replay_messages th {
	background-color: #B5B5B5;
	text-align: left;
	width: auto;
}
table.replay_messages td.message_time {
	width: 50px;
}
table.replay_messages td.message_player {
	width: 120px;
}
table.replay_messages td.message_target {
	width: 50px;
}


/*
    Register form
*/
table.registerForm {
    width:450px;
    margin:0px auto;
    border:1px solid black;
    padding-top:5px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
}

table.registerForm th{
    text-align: right;
    padding-right:10px;
}

table.registerForm ul {
    color: #920000;
    margin: 0px;
    padding-left: 0px;
    font-style: italic;
    list-style-type: none;
    font-size: 0.9em;
}

table.registerForm input {
    border: 1px solid green;
    padding: 4px;
    width: 200px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/*
 Comment and avatar
*/

div.comment {
    clear:both;
    overflow: hidden;
    border: 1px solid blue;
    padding: 4px;
    margin-bottom:5px;
    font-size: 0.9em;
    background:#eee;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

div.comment_header {
    font-size: 0.8em;
}

div.comment_content {
    margin-left: 55px;
}

#replay_comment_comment {
    width:582px;
}

/*
 Footer
*/
span.footer_credit {
	font-size: 0.8em;
}

.footer a:link, .footer a:visited {
	color: #ff9c00;
}
.footer a:hover {
	color: #FDC764;
}
.footer img {
	border: medium none;
}

/*
 Login form
*/
div.login_input {
	margin: 10px 10px 10px 7px;
}
table.login_table {
	text-align: left;
	vertical-align: middle;
	margin: 14px 10px 14px 10px;
}
.login_table th {
	width: 105px;
}
td.error_field {
	color: #BF0000;
	padding-left: 10px;
}
